body {
      background: url(images/wood.jpeg) no-repeat center center fixed;
  background-size: cover;
}

#ibis {

    height: 100%;
    
}

nav {
    background: url(images/older.jpg) no-repeat center center fixed; 
    background-size: cover !important;     
    /* background-color: grey  */
 
}
 
#opening {
    background: url(images/beach.JPG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: beige
}

#text {
    padding-top: 20%;
    text-align:center;
}

#about {
      /* background: url(images/moon.jpeg) no-repeat center center fixed;
  background-size: cover; */
  /* background-color: beige; */
height: 150%;
/* margin-top: 50px; */
padding-top: 4%;
 color: beige; 
/* color: black; */

}

#me {
  text-align: justify;
  text-indent: 1.3em;
  margin: 0 20%;
  font-size: 120%
}

#apps {
height: 345%;
padding-top: 5%;
margin: 0;
   background: url(images/stars4.jpeg) no-repeat center center fixed;
  background-size: cover;
 
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
 
    #one, #two, #three, #four {
    /* background: gray; */
    color: white;
 
 
}
 
 

#web {
    float: clear;
height: 50%;
background-color: gray;
margin-top: 5%;
padding-top: 5%;
}

#contact {
height: 50%;
padding-top: 5%;
color: black !important;
}

#email{
text-align:center;

}

h1 {
    text-align: center;
    color: beige;
}

li {
    padding-top: 25%;
    font-size: 275%;
    
}
/*  */
.link {
    font-size: 100%;
    padding-top: 0;
}
footer {
     background: url(images/older.jpg) no-repeat fixed center;
   background-size: cover;    
   /* background-color: grey; */
}

a {
    color: lightgoldenrodyellow ;
}



a:hover {
    text-decoration: underline ;
    color: lightblue ;
    
}