

.bold {
    font-weight: 900 !important;
}

nav {
    background: url(images/older.jpg) no-repeat center center fixed; 
    background-size: cover !important;     
    /* background-color: grey  */
 
}
 
section {
    margin-top: 4%;

}

.opener {
    overflow: auto;
    background-color: #C5CFD9 !important;
}

.u {
    text-decoration: underline;
}