body {
      background: url(images/map.jpeg) no-repeat center center fixed;
  background-size: cover;
}

#ibis {

    height: 100%;
    
}

nav {
    background: url(images/older.jpg) no-repeat center center fixed; 
    background-size: cover !important;     
    /* background-color: grey  */
 
}

#opening {
    background: url(images/beach.JPG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

#about {
      background: url(images/parchment.jpg) no-repeat center center fixed;
  background-size: cover;
height: 100%;
/* margin-top: 50px; */
padding-top: 5%;

}

#me {
  text-align: justify;
  text-indent: 1.3em;
  margin: 0 20%;
  font-size: 120%
}

#apps {
height: 245%;
padding-top: 5%;
margin: 0;
   background: url(images/greener.jpeg) no-repeat center center fixed;
  background-size: cover;
 
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
 
    #two, #four {
    background: gray;
    color: white;
 
 
}
 
 

#web {
    float: clear;
height: 50%;
background-color: gray;
margin-top: 5%;
padding-top: 5%;
}

#contact {
height: 50%;
padding-top: 5%;
}

#email{
text-align:center;

}

h1 {
    text-align: center;
}

li {
    padding-top: 25%;
    font-size: 275%;
    
}
a{
    color: black;
}
.link {
    font-size: 100%;
    padding-top: 0;
}
footer {
     background: url(images/older.jpg) no-repeat fixed center;
   background-size: cover;    
   /* background-color: grey; */
}