body {
      background: url(images/wood.jpeg) no-repeat center center fixed;
  background-size: cover;
}

#ibis {

    height: 100%;
    
}

nav {
    background: url(images/older.jpg); 
    background-size: cover !important;     
    /* background-color: grey  */
    height: 10%;
   
}
 
#opening {
    background: url(images/beach.JPG) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: beige;
  padding-top: 20%;
  padding-bottom: 15%;
  margin-top: 10%;
}

#text {
    padding-top: 20%;
    /* text-align:center; */
}

  #me {
padding-top: 20%;
padding-bottom: 5%;
margin-bottom: 5%;
  text-align: justify;
  text-indent: 1.3em;
 margin: 0 10%; 
 margin-right: 15%;  
 font-size: 120%;
 color: white;
} 

#apps {
height: 345%;
padding-top: 20%;
margin: 0;
color: white;
   background: url(images/solid.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-size: 120%;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
 

#web {
    padding-top: 5%;
    float: clear;
height: 50%;
background-color: gray;
margin-top: 5%;
}

#email {
text-align:center;
}

li {
    padding-top: 25%;
    font-size: 275%;
    
}

.link {
    font-size: 100%;
    padding-top: 0;

}
footer {
     background: url(images/older.jpg) no-repeat fixed center;
   background-size: cover;    
   /* background-color: grey; */
}

a, i {
    color: lightgoldenrodyellow ;
}



a:hover {
    text-decoration: underline ;
    color: yellow ;
    
}

